.container {
  padding: 20px;
}

.spacer {
  flex: 1 1 auto;
}

.current-task {
  margin: 20px 0;
}

.start-task-button {
  margin-bottom: 20px;
}

.top-buttons-container {
  display: flex;
  justify-content: space-between;
}

.indicator-container {
  width: 100%;
  height: 100%;
  padding: 0 20px;
  margin-top: 12px;
}

.balance {
  padding: 20px;
  display: flex;
  align-items: center;
  gap: 5px;
}
